<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Contact{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </head>
    <body>
        {% include 'elements/navbar.html.twig' %}
        <br>
        {% block body %}
        <div class="container">
        {{ form_start(form) }}
        <div class="col-8">
            {{ form_label(form.nom,'Nom') }}
            {{ form_widget(form.nom, {'attr': {'placeholder': 'Votre nom'}}) }}
        </div>
        <div class="col-8">
            {{ form_label(form.prenom,'Prenom')}}
            {{ form_widget(form.prenom, {'attr': {'placeholder': 'Votre prénom' }}) }}
        </div>
        <div class="col-8">
            {{ form_label(form.mail,'Mail')}}
            {{ form_widget(form.mail, {'attr': {'placeholder': 'Votre adresse email' }}) }}
        </div>
        <div class="col-8" id="some-custom-id">
            {{ form_label(form.message,'Message')}}
            {{ form_widget(form.message, {'attr': {'placeholder': 'Commentaire éventuel' }}) }}
        </div>
        <br>
        
        <button type='submit' class='btn btn-success'> Envoyer </button>
        {{ form_end(form) }}
    </div>
        {% endblock %}
        
        {% include 'elements/footer.html.twig' %}
    </body>
</html>
